.contact__title {
    display: flex;
    justify-content: center;
    margin: 28px 0 0 0;
}

.contact__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 28px;
    margin: 0 300px;
}

.contact__left  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__right  {
    display: flex;
    flex-direction: column;
}

.contact__img--wrapper {
    max-width: 600px;
}

.contact--img {
    width: 100%;
}

.email {
    color: #005fcf;
}

.contact__poc {
    line-height: 1.75;
}

.contact__emails {
   line-height: 1.75;
}

.form__item--label {
    margin-bottom: 4px;
}

.form__item {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    padding: 12px 300px 12px 16px;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
}

.form__submit {
    padding: 18px 64px;
    background-color: #005fcf;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.form__submit:hover {
    transform: scale(1.1);
}

.form__submit:active {
    transform: scale(0.8);
}

.contact__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 44px;
    max-width: 1300px;
}

/*     background-color: rgba(0, 95, 207, 0.3);
*/