.red {
    color: #cc3333;
}

.contact__title {
    display: flex;
    justify-content: center;
    margin: 28px 0 0 0;
}

.contact__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    padding: 28px;
    margin: 0 300px;
}

.contact__left  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__right  {
    display: flex;
    flex-direction: column;
align-items:start;
    
}

.email {
    color: #005fcf;
}

.contact__poc {
    padding: 20px 0;
    line-height: 1.5;
}

.form__item--label {
    margin-bottom: 4px;
}

.form__item {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 4px 24px;
    border-radius: 10px;
    border: 1px solid #8a8a8a;
}