.parts {
    margin: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

.parts--title {
    margin-bottom: 12px;
}

.parts--para {
    margin: 12px 0;
    max-width: 800px;
    text-align: center;
    line-height: 1.5;
}

.parts--hr {
    width: 44%;
    border: 1px solid #eee;
}

.parts--contact {
    margin-bottom: 12px;
}

.parts--title2 {
    margin: 34px 0 12px 0;
}

.parts--contact-link {
    margin-bottom: 12px;
    text-decoration: none;
    color: #253c95;
}